
body > div.col-xs-12.col-sm-offset-3.col-sm-6{
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-size: 18px;
    line-height: 1.428571429;
    color: white;
    background-color: #F4F513;
  }

body {
  color: white;
}
